# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv/
env/
venv/

# Laya-OCR-Guard sessions
.guard/
